<div class="card">
    <div class="card-header">
        <h2>Login<small>Please login.</small></h2>
    </div>

    <div class="card-body card-padding">
        <form class="row" role="form" ng-submit="login()">
            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only" for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control input-sm" id="exampleInputUsername" placeholder="Enter username" ng-model="credentials.username">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <label class="sr-only" for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control input-sm" id="exampleInputPassword" placeholder="Enter password" ng-model="credentials.password">
                </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Remember me (not working)
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm m-t-5 waves-effect">Sign in</button>
            </div>
        </form>
    </div>
</div>