<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<bean id="basket" class="it.objectway.corsi.ecommerce.models.Basket" scope="session">
        &lt;!&ndash; This requires CGLIB &ndash;&gt;
        <aop:scoped-proxy/>
    </bean>-->
    <bean id="basketManager" class="it.objectway.corsi.ecommerce.impl.BasketManagerImpl"/>
    <!--<bean id="loggerManager" class="it.objectway.corsi.ecommerce.impl.LogManagerImpl">
        <constructor-arg value="it.objectway.corsi.ecommerce.models.Basket"/>
    </bean>-->
    <bean id="basket" class="it.objectway.corsi.ecommerce.models.Basket" scope="session">
        <!--<property name="logger" ref="loggerManager"/>-->
        <aop:scoped-proxy/>
    </bean>
</beans>