<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="basketManager" class="it.objectway.corsi.ecommerce.impl.BasketManagerImpl"/>

    <bean id="map" class="java.util.HashMap" scope="prototype"/>

    <bean id="basket" class="it.objectway.corsi.ecommerce.models.Basket" scope="session">
        <property name="basket" ref="map"/>
        <aop:scoped-proxy/>
    </bean>
</beans>