<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="methodDecorator" class="it.objectway.corsi.ecommerce.decorators.MethodDecorator"/>
    <aop:config>
        <aop:aspect ref="methodDecorator">
            <aop:pointcut id="methodInvocation" expression="within(it.objectway.corsi.ecommerce.interfaces.*)"/>
            <aop:around method="log" pointcut-ref="methodInvocation"/>
        </aop:aspect>
    </aop:config>
</beans>